* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav {
    display: flex;
    gap: 25px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

nav a {
    text-decoration: none;
}

header,
#hero,
footer {
    background-color: #1f2937;
}

/* Hero */

nav a,
.left p {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
    flex-wrap: wrap;
}

.left {
    flex-shrink: 1;
    flex-basis: 550px;
    flex-grow: 0;
}

.left button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Information */

#information {
    text-align: center;
    padding: 40px;
}

#information h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    flex-wrap: wrap;
}

.image {
    width: 150px;
}

/* Quote */

#quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
    color: #1f2937;
}

#quote p {
    font-size: 36px;
    font-weight: 100;
}

.content {
    width: 48%;
}

.content h3 {
    text-align: right;
}

/* CTA */

#cta {
    padding: 80px 200px;
    color: #e5e7eb;
}

.cta-container {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.cta-container button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 10px;
}
